/* style.css */

html {
	height: 100%;
	background-color: gray;
}

body {
	margin: 0px;
	height: 100%;
	color: white;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

a {
	color: white;
	text-decoration: none;
}

/***********
 * Nav bar *
 ***********/

#nav-bar {
	background-color: #383838;
	color: white;
	height: 44px;
	line-height: 44px;
	text-align: center;
}

#nav-bar-left-button {
	position: absolute;
	left: 10px;
}

#nav-bar-right-button {
	position: absolute;
	right: 10px;
}

#nav-bar-right-button-large {
	position: absolute;
	right: 10px;
	font-size: 35px;
}

#nav-bar-title {
	text-align: center;
	width: 100%;
	font-size: 20px;
}

/***************
 * Tetris grid *
 **************/

#tetris-grid-container {
	height: 600px;
}

.tetris-grid {
	background-color: gray;
	width: 100%;
	height: 600px;
	right: 0px;
	border-collapse: collapse;
}

.tetris-grid tr td:not(.first-column) {
	border: 1px solid #686868;
	width: 14%;
	padding: 0px;
	position: relative;
}

.tetris-grid tr.last-row td {
	height: 32px;
	text-align: center;
	background-color: #939393;
}

.first-column {
	width: 0px !important;
	background-color: #939393;
	position: relative;
	font-size: 13px;
}

.first-column span {
	top: -9px;
	right: 6px;
	position: absolute;
}

.tetris-grid tr td .fill-block {
	width: 100%;
	position: absolute;
	bottom: 0px;
	border-width: 4px;
	border-style: solid;
	box-sizing: border-box;
	border-radius: 3px;
}

/* some colors from http://cdn.phys.org/newman/gfx/news/hires/tetris.jpg */
.tetris-grid tr td .fill-block-blue {
	height: 50px;
}

.tetris-grid tr td .fill-block-purple {
	height: 25px;
}

.tetris-grid tr td .fill-block-green {
/*	background-color: #679436;
	border-bottom-color: #51752A;
	border-left-color: #51752A;
	border-top-color: #7BB240;
	border-right-color: #7BB240;
*/	height: 150px;
}

/* THIS IS JUST FOR SHOW */
#tetris-grid-cell-5-3 .fill-block-purple {
	bottom: 50px;
}

#tetris-grid-cell-5-4 .fill-block-purple {
	bottom: 50px;
}

#tetris-grid-cell-5-3 .fill-block-green {
	bottom: 75px;
}

/***************
 * Task list
 **************/

#task-list .title {
	font-size: 22px;
}

.task {
	padding: 10px;
	padding-right: 45px;
	overflow: hidden;
	position: relative;
}

.task .detail-arrow-container {
	height: 100%;
	width: 25px;
	margin-top: -20px;
	position: absolute;
	right: 15px;
}

.task .detail-arrow-container .detail-arrow {
	position: relative;
	top: 50%;
	transform: translateY(-50%);

	width: 17px;
	height: 17px;
	border-right: 1px solid white;
	border-top: 1px solid white;
   	transform: rotate(45deg);
}

.task .time-left-container {
	float: right;
	text-align: center;
}

.task .time-left-container .time {
	font-size: 150%;
}

.task .time-left-container .time-units {
	font-size: 75%;
}

.separator {
	/*background-color: #383838;*/
	background-color: black;
	height: 4px;
}

