body {
	/*padding-bottom: 300px; */
}

.timer {
	font-size: 75px;
	margin: 10px 15px;
}

#task-info {
	margin: 25px 15px;
	max-width: 70%;
	/*display: inline-block;*/
	background-color: rgba(56, 56, 56, 0.9);
	margin-bottom: 105px;
}

#task-info .header {
	/*background-color: rgba(56, 56, 56, 0.9);*/
	padding: 12px;
	font-size: 20px;
	background-color:#262626;
}

#task-info .info {
	padding: 5px 20px;
}

#done-for-today, #start-button {
	text-align: center;
	bottom: 0px;
	position: fixed;
	height: 70px;
	font-size: 24px;
	box-shadow: 0px 0px 15px rgba(0,0,0,.5);
}

#done-for-today {
	width: 34%;
	left: 0px;
	border-top: 3px solid #9033CE;
	border-right: 3px solid #9033CE;
	box-sizing: border-box;
}

#start-button {
	width: 66%;
	right: 0px;
	border-top: 3px solid #79CE1F;
	border-left: 3px solid #79CE1F;
    box-sizing: border-box;
}

#done-for-today .aligner {
	/*height: 70px;*/
}

.aligner, .aligned {
	display: inline-block;
	vertical-align: middle;
}

.aligner {
	height: 100%;
}

@keyframes progress {
    0%   { width: 0%; background-color: #5CB200; }
    100%   { width: 100%; background-color: #5CB200; }
}

@keyframes color-orange {
    0%   { background-color: #5CB200; }
    100%   { background-color: #CE8900; }
}

#progress-bar {
	animation-timing-function: linear;
	animation-name: progress, color-orange;
	animation-duration: 15s, 1s;
	animation-delay: 0s, 15s;

	background-color: #CE8900;
	z-index: -100;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 100%;
	box-shadow: 0px 0px 15px rgba(0,0,0,.5);
}
