body {
	/*padding-bottom: 300px; */
}

.timer {
	font-size: 75px;
	margin: 10px 15px;
}

#task-info {
	margin: 25px 15px;
	max-width: 70%;
	/*display: inline-block;*/
	background-color: rgba(56, 56, 56, 0.9);
	margin-bottom: 75px;
}

#task-info .header {
	/*background-color: rgba(56, 56, 56, 0.9);*/
	padding: 12px;
	font-size: 20px;
	background-color:#262626;
}

#task-info .info {
	padding: 5px 20px;
}

#done-for-today, #start-button {
	text-align: center;
	bottom: 0px;
	position: fixed;
	height: 70px;
	font-size: 24px;
}

#done-for-today {
	width: 25%;
	left: 0px;
	/*border-top: 4px solid #54008C;*/
}

#start-button {
	width: 75%;
	right: 0px;
	/*border-top: 4px solid #488C00;*/
}

#done-for-today .aligner {
	/*height: 70px;*/
}

.aligner, .aligned {
	display: inline-block;
	vertical-align: middle;
}

.aligner {
	height: 100%;
}

#progress-bar {
	z-index: -100;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 20%;
}
