body {
	background-color: #383838;
}

#estimated-percent-complete {
	margin-bottom: 5px;
}

.estimated-percent-complete-label {
	margin-bottom: 5px;
	margin-top: 30px;
}

.page-centerer {
	margin: auto;
	width: 90%;
	text-align: center;

	/* vertical */
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.large-text {
	font-size: 20px;
}

.extra-large-text {
	font-size: 40px;
}

.very-large-text {
	font-size: 62px;
}

.ok-btn {
	border-radius: 7px;
	width: 50%;
	display: inline-block;
	margin: 20px;
	padding: 10px;
	font-size: 35px;
	min-width: 270px;
}

.edit-btn {
	height: 30px;
	line-height: 30px;

	border-radius: 7px;
	width: 140px;
	margin: auto;
	font-size: 18px;
	background-color: #C4C4C4;
}

