.task-attribute {
	margin: 20px 0px;
}

.task-attribute .title, .task-attribute .attribute-value {
	padding: 10px 20px;
}

.task-attribute .title {
	font-size: 14px;
	color: #F2F2F2;
}

.task-attribute .attribute-value {
	background-color: #B2B2B2;
	border-top: 1px solid #A3A3A3;
	border-bottom: 1px solid #A3A3A3;
	font-size: 20px;
}