/* style.css */

html {
	height: 100%;
	background-color: #8E8E8E;
}

body {
	padding-top: 44px;  /* for the fixed nav bar */
	margin: 0px;
	height: 100%;
	color: white;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; ;
}

a {
	color: white;
	text-decoration: none;
}

/***********
 * Nav bar *
 ***********/

#nav-bar {
	color: white;
	height: 44px;
	line-height: 44px;
	text-align: center;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	z-index: 200;
}

#nav-bar-left-button {
	position: absolute;
	left: 10px;
}

#nav-bar-right-button {
	position: absolute;
	right: 10px;
}

#nav-bar-right-button-large {
	position: absolute;
	right: 10px;
	font-size: 35px;
	line-height: 36px;
}

#nav-bar-title {
	text-align: center;
	width: 100%;
	font-size: 20px;
}

/***************
 * Tetris grid *
 **************/

#tetris-grid-container {
	height: 600px;
}

.tetris-grid {
	table-layout: fixed;
	background-color: gray;
	width: 100%;
	height: 600px;
	right: 0px;
	border-collapse: collapse;
}

.tetris-grid tr td:not(.first-column) {
	border: 1px solid #686868;
	width: 14%;
	padding: 0px;
	position: relative;
}

.tetris-grid tr.last-row td {
	height: 32px;
	text-align: center;
	background-color: #939393;
}

.first-column {
	width: 24px !important;
	background-color: #939393;
	position: relative;
	font-size: 13px;
}

.first-column span {
	top: -9px;
	right: 6px;
	position: absolute;
}

@keyframes fall-down {
    0%   { bottom: 700px; opacity: 0; }
}

.tetris-grid tr td .fill-block {
	animation-timing-function: linear;
	animation-name: fall-down;
	animation-duration: .5s;

	width: 100%;
	position: absolute;
	bottom: 0px;
	border-width: 4px;
	border-style: solid;
	box-sizing: border-box;
	border-radius: 3px;
}

/* some colors from http://cdn.phys.org/newman/gfx/news/hires/tetris.jpg */
.tetris-grid tr td .fill-block-blue {
	height: 50px;
}

.tetris-grid tr td .fill-block-purple {
	height: 25px;
}

.tetris-grid tr td .fill-block-green {
/*	background-color: #679436;
	border-bottom-color: #51752A;
	border-left-color: #51752A;
	border-top-color: #7BB240;
	border-right-color: #7BB240;
*/	height: 150px;
}

/* THIS IS JUST FOR SHOW */
#tetris-grid-cell-5-3 .fill-block-purple {
	bottom: 50px;
}

#tetris-grid-cell-5-4 .fill-block-purple {
	bottom: 50px;
}

#tetris-grid-cell-5-3 .fill-block-green {
	bottom: 75px;
}

/***************
 * Task list
 **************/

#task-list .title {
	font-size: 22px;
}

.task {
	width: 100%;
	position: relative;
}

.task .class {
	font-size: 12px;
	color: #E5E5E5;
}


.time {
	font-size: 150%;
}

.time-units {
	font-size: 75%;
}

.separator {
	/*background-color: #383838;*/
	background-color: black;
	height: 8px;
}

/* Vertical aligned right part of cell */

div {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.left {
	width: auto;
	margin-right: 150px;
	padding: 11px 15px;
}

.right-wrapper {
	width: 140px;
	float: right;
}

.right {
	height: 100%;
	position: absolute;
	transform: translateY(-100%);
}

.clear {
	clear: both;
	height: 0;
}

.time-container {
	text-align: center;
	position: relative;
	top: 48%;
	transform: translateY(-50%);
	margin-right: 30px;
	margin-left: 10px;
}

.block {
	width: 20px;
	height: 20px;
	border-right: 1px solid white;
	border-top: 1px solid white;
	float: right;
	margin-right: 0px;

	position: relative;
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
}
